.Header-background{
  padding: 50px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Header-illustration{
  position: absolute;
  z-index: 0;
  height: 100;
  margin-top: -100px;
  margin-left: 60px;
  width: 100px;
  height: 100px; 
}
.Header-main{
  margin-bottom: 2em;
  margin-left: -200px;
}

